@import '_colors';
@import '_fonts';

:host {
    width: 125px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .info{
        @extend .font-footer;
        color: $grey;
    }
}
