@import '_fonts';
@import '_colors';

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 325px;

    @media screen and (min-device-width: 768px) {
        width: 534px;
        height: 354px;
        position: relative;
    }
}

.image {
    position: absolute;
    right: 14%;
    width: 150px;
    height: 19px;

    @media screen and (min-device-width: 768px) {
        width: 230px;
        height: 29px;
        top: -20px;
    }
}

.title {
    @extend .font-h-xl;
    color: $dark-blue;
    margin-top: 28px;
    margin-bottom: 32px;
}

.description {
    @extend .font-body;
    color: $grey;
    margin-bottom: 32px;

    @media screen and (min-device-width: 768px) {
        width: 350px;
    }
}
