@import '_colors';
@import '_fonts';

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 929px;

    @media screen and (min-device-width: 768px) {
        height: 865px;
    }

    .image {

        &--jeremy {
            position: absolute;
            top: 0;
            z-index: 2;
            @media screen and (min-device-width: 768px) {
                top: -50px;
            }
        }

        &--curved {
            margin-top: 230px;
            width: 50px;
            height: 40px;
        }
    }


    .wrap {
        position: absolute;
        bottom: 0;
        background: $dark-blue;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $cream-white;
        text-align: center;
        height: 748px;
        z-index: 1;
        padding-left: 16px;
        padding-right: 16px;

        @media screen and (min-device-width: 768px) {
            height: 684px;
            bottom: 50px;
        }

        .title {
            @extend .font-h-l;
        }

        .description {
            @extend .font-quote;
        }

        .company {
            &__author {
                @extend .font-h-m;
            }

            &__name {
                @extend .font-h-s;
            }
        }
    }
}
