@import '_colors';
@import '_fonts';

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 929px;

    @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        height: 865px;
    }

    @media screen and (min-device-width: 1024px) {
        height: 600px;
    }


    .image {

        &--jeremy {
            position: absolute;
            top: 0;
            z-index: 2;
            content: url("../../assets/images/image-jeremy-small.png");

            @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
                top: -50px;
            }

            @media screen and (min-device-width: 1024px) {
                content: url("../../assets/images/image-jeremy-large.png");
                left: 10%;
                height: 600px;
            }
        }

        &--curved {
            margin-top: 230px;
            width: 50px;
            height: 40px;

            @media screen and (min-device-width: 1024px) {
                position: absolute;
                margin-top: -18%;
                width: 64px;
                height: 52px;
            }
        }
    }


    .wrap {
        position: absolute;
        bottom: 0;
        background: $dark-blue;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $cream-white;
        text-align: center;
        height: 748px;
        z-index: 1;
        padding-left: 16px;
        padding-right: 16px;

        @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
            height: 684px;
            bottom: 50px;
        }

        @media screen and (min-device-width: 1024px) {
            height: 545px;
            text-align: left;
            align-items: baseline;
            padding-left: 45%;
            padding-right: 6%;
        }

        .title {
            @extend .font-h-l;
            @media screen and (min-device-width: 1024px) {
             width: 298px;
            }
        }

        .description {
            @extend .font-quote;
            @media screen and (min-device-width: 1024px) {
            
               }
        }

        .company {
            &__author {
                @extend .font-h-m;
            }

            &__name {
                @extend .font-h-s;
            }

            @media screen and (min-device-width: 1024px) {
                width: 190px;
               }
        }
    }
}


@media screen and (min-device-width: 1024px) {

    .title,
    .description,
    .company {
        margin-left: 30%;
    }

}
