<div class="image image--jeremy"></div>

<div class="wrap">
  <img
    class="image image--curved"
    src="../../assets/images/pattern-curved-line-2.svg"
    alt=""
    aria-hidden="true"
  />

  <p class="title">
    <span class="no-bold"> It just </span>
    works.
  </p>

  <p class="description">
    "I really like how it is an all-in-one solution that handle many of the
    tasks that you would normally need separate tools to do the same job. This
    thing is a miracle worker."
  </p>

  <div class="company">
    <p class="company__author">
      {{ "Jeremy Robison" | uppercase }}
    </p>

    <p class="company__name">
      {{ "cmo, fylo" | uppercase }}
    </p>
  </div>
</div>
