:host {
    height: 2389px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 48px 325px 240px 313px 929px 150px;
    grid-auto-rows: min-content;
    row-gap: 56px;
    position: relative;

    .item {
        // width: 1fr;
        margin: auto 16px;

        &--header {
            margin-top: 24px;
            grid-column: 1 / -1;
        }

        &--beta {
            grid-column: 1 / span 4;
        }

        &--image {
            height: 240px;
            grid-column: 1 / 5;
            border-radius: 15px;
        }

        &--figures {
            grid-column: 1 / -1;
        }

        &--work {
            grid-column: 1 / -1;
            margin: unset;
        }

        &--footer {
            margin: auto;
            grid-column: 1 / -1;
        }
    }
}
