// Colors
// Primaries
$black: #172339;
$gray:#49566D;
$bone: #F3EDE7;
$white: #FAF8F6;

// Neutrals
$purple:#A060FF;
$cyan: #CB30E3;
$orange: #FFA84E;
$gradient: linear-gradient(135deg, #A060FF 0%, #CB30E3 49%, #FFA84E 100%);
