// Colors
// Primaries
$dark-blue: #172339;
$grey:#49566D;
$cream: #F3EDE7;
$cream-white: #FAF8F6;

// Neutrals
$purple:#A060FF;
$cyan: #CB30E3;
$orange: #FFA84E;
$gradient: linear-gradient(135deg, #A060FF 0%, #CB30E3 49%, #FFA84E 100%);
