:host{
    height: 313px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-device-width: 768px) {
        height: 83px;
    }

}
